body{
    background-color: rgb(57, 4, 57);
    color: aliceblue;
    font-family: 'poppins', sans-serif;
}

#moreAbout h2 {
    font-size: 36px;
    text-decoration: underline;
    
}

#moreAbout h2 span {
    color: #00f0ff;
}

.ShowLess {
    display: inline-block;
    padding: 10px 25px;
    margin-top: 20px;
    background-color: #00f0ff;
    color: #0f172a;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.ShowLess:hover {
    background-color: #ff00ff;
    color: #fff;
}
